---
layout: page
title: Clients
permalink: /clients/
---

<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="page-heading">{{ page.title }}</h1>
      </div>
    </div>
    
    <div class="row align-items-center">
      <div class="col-lg-6">
        <img class="img-fluid" src="{{ site.baseurl }}/{{ site.data.clients.image }}" alt="Nos clients">
      </div>
      <div class="col-lg-6">
        <ul class="client-list">
          {% for client in site.data.clients.clients %}
          <li>{{ client }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% if site.data.clients.logos %}
    <div class="row client-logos mt-5">
      {% for logo in site.data.clients.logos %}
      <div class="col-md-3 col-6">
        <img class="img-fluid client-logo" src="{{ site.baseurl }}/{{ logo }}" alt="Client">
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

<!-- Newsletter Section -->
<section class="page-section bg-light" id="newsletter">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <img class="img-fluid" src="{{ site.baseurl }}/{{ site.data.clients.newsletter.image }}" alt="Newsletter">
      </div>
      <div class="col-lg-6">
        <h2 class="section-heading">{{ site.data.clients.newsletter.title }}</h2>
        <form class="newsletter-form" action="#" method="post">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="{{ site.data.clients.newsletter.placeholder }}" required>
          </div>
          <button type="submit" class="btn btn-primary">{{ site.data.clients.newsletter.button }}</button>
        </form>
      </div>
    </div>
  </div>
</section>
